econect.json
[{"id":"5252763aaafeed4d","type":"tab","label":"Econect","disabled":false,"info":"","env":[]},{"id":"af7e877330b0cc92","type":"http in","z":"5252763aaafeed4d","name":"","url":"/dados","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["d13bff56a3366f2a"]]},{"id":"d13bff56a3366f2a","type":"function","z":"5252763aaafeed4d","name":"simular sensores","func":"msg.payload = {\n    umidade: 50,\n    temperatura: 22,\n    luz: 300\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":60,"wires":[["96dcbf3e69a6579d"]]},{"id":"96dcbf3e69a6579d","type":"http response","z":"5252763aaafeed4d","name":"","statusCode":"","headers":{},"x":550,"y":60,"wires":[]},{"id":"8547943322832139","type":"template","z":"5252763aaafeed4d","name":"servir HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Monitoramento de Horta</title>\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\">\n</head>\n<body>\n  <div class=\"container\">\n    <h1 class=\"mt-5\">Monitoramento de Horta</h1>\n    <div id=\"dados-sensores\" class=\"mt-3\">\n      <p>Umidade: <span id=\"umidade\"></span>%</p>\n      <p>Temperatura: <span id=\"temperatura\"></span>°C</p>\n      <p>Luz: <span id=\"luz\"></span> lux</p>\n    </div>\n  </div>\n  <script src=\"https://code.jquery.com/jquery-3.5.1.min.js\"></script>\n  <script>\n    $(document).ready(function() {\n      $.get('http://localhost:1880/dados', function(data) {\n        $('#umidade').text(data.umidade);\n        $('#temperatura').text(data.temperatura);\n        $('#luz').text(data.luz);\n      });\n    });\n  </script>\n</body>\n</html>\n","output":"str","x":330,"y":140,"wires":[["f3cedae8062466d9"]]},{"id":"82308760d2e44ccb","type":"http in","z":"5252763aaafeed4d","name":"","url":"/econect","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["8547943322832139"]]},{"id":"f3cedae8062466d9","type":"http response","z":"5252763aaafeed4d","name":"","statusCode":"","headers":{},"x":510,"y":140,"wires":[]}]